.characterLeft {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", cursive;
}

.submit {
  color: white;
  background-color: #4056A1;
}

.textArea {
  background-color: transparent;
  font-size: 16px;
  border-width: 0 0 4px;
  resize: none;
  outline: none;
}

.label {
  font-weight: bold;
}


