.characterLeft {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", cursive;
  margin-top: 12px;
}

.submit {
  color: white;
  background-color: #4056A1;
}

.textArea {
  background-color: transparent;
  font-size: 24px;
  border-width: 0 0 4px;
  resize: none;
  outline: none;
}

.label {
  font-weight: bold;
}

img.avatar {
  height: 40px;
  width: 40px;
}

hr {
height: 2px;
width: auto;
background-color: #545149;
}

.counterRed {
  color: red
}

.errorMsg {
  display: flex;
  font-size: 18px;
  color: red;
  margin-top: 10px;
  visibility: hidden;
}
