.characterLeft {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", cursive;
  margin-top: 8px;
}

.submit {
  color: white;
  background-color: #4056A1;
}

.textArea {
  background-color: transparent;
  font-size: 24px;
  border-width: 0 0 4px;
  resize: none;
  outline: none;
}

.label {
  font-weight: bold;
}

img.avatar {
  height: 40px;
  width: 40px;
}

.counterRed {
  color: red
}